.button {
    float: right;
    width: 140px;
    height: 35px;
    margin-right: 25px;
    margin-top: 10px;
}

hr {
    background-color: black;
    margin-left: 12px;
    margin-right: 25px;
}

h1 {
    font-size: 40px;
    margin-left: 12px;
}

.texts {
    margin-left: 12px;
}

select {
    width: 200px;
    display: inline-table;
    overflow: hidden;
}

.textOfType {
    margin-left: 12px;
}

fieldset {
    margin-left: 12px;
    font: 20px Consolas;
    text-align: left;
    display: inline-block;
    width: 320px;
    height: 256px;
    margin-bottom: 10px;
    background: grey;
    vertical-align: top;
    line-height: normal;
}

#labelOfFirstSize {
    display: none;
    margin-top: 20px;
    margin-left: 12px;
    font-size: 25px;
}

#labelOfFirstItemOfDimension {
    display: none;
    margin-top: 20px;
    margin-left: 12px;
    font-size: 25px;
}

#textbox1 {
    display: none;
    margin-left: 140px;
    margin-top: -27px;
}

#textInFirstDescription {
    display: none;
    margin-left: 12px;
    font-size: 12px;
}

#TextFieldForHeight {
    display: none;
    margin-left: 140px;
    margin-top: -27px;
}

#labelOfSecondItemOfDimension {
    display: none;
    margin-top: 20px;
    margin-left: 12px;
    font-size: 25px;
}

#TextFieldForWidth {
    display: none;
    margin-left: 140px;
    margin-top: -27px;
}

#labelOfThirdItemOfDimension {
    display: none;
    margin-top: 20px;
    margin-left: 12px;
    font-size: 25px;
}

#TextFieldForLength {
    display: none;
    margin-left: 140px;
    margin-top: -27px;
}

#textInSecondDescription {
    display: none;
}

#labelOfSecondWeight {
    display: none;
    margin-top: 20px;
    margin-left: 12px;
    font-size: 25px;
}

#textbox2 {
    display: none;
    margin-left: 140px;
    margin-top: -27px;
}

#textInThirdDescription {
    display: none;
}