h1 {
    font-size: 40px;
    margin-left: 12px;
}
select {
    width: 220px;
    height: 29px;
    float: right;
    margin-right: 40px;
    margin-top: -25px;
}
.button6 {
    float: right;
    width: 140px;
    height: 30px;
    margin-right: 25px;
    margin-top: 22px;
}
hr {
    background-color: black;
    margin-left: 12px;
    margin-right: 25px;
}
fieldset {
    font: 17px Consolas;

    font-size: 20px;
    border-spacing: 55px 55px;
    display: inline-block;
    width: 250px;
    padding: 5px 7px;
    height: 160px;
    margin-bottom: 40px;
    background: white;
    vertical-align: top;
    text-align: center;
    line-height: normal;
    border: 3px solid black;
}
#chk1,#chk2,#chk3
{
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}